@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 266 100% 95%;
        --foreground: 266 5% 10%;
        --card: 266 50% 90%;
        --card-foreground: 266 5% 15%;
        --popover: 266 100% 95%;
        --popover-foreground: 266 100% 10%;
        --primary: 266 100% 63.9%;
        --primary-foreground: 0 0% 0%;
        --secondary: 266 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 228 30% 85%;
        --muted-foreground: 266 5% 35%;
        --accent: 228 30% 80%;
        --accent-foreground: 266 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 266 5% 90%;
        --border: 266 30% 50%;
        --input: 266 30% 26%;
        --ring: 266 100% 63.9%;
        --radius: 0.5rem;
    }
    .dark {
        --background: 266 50% 10%;
        --foreground: 266 5% 90%;
        --card: 266 50% 10%;
        --card-foreground: 266 5% 90%;
        --popover: 266 50% 5%;
        --popover-foreground: 266 5% 90%;
        --primary: 266 100% 63.9%;
        --primary-foreground: 0 0% 0%;
        --secondary: 266 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 228 30% 25%;
        --muted-foreground: 266 5% 60%;
        --accent: 228 30% 25%;
        --accent-foreground: 266 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 266 5% 90%;
        --border: 266 30% 26%;
        --input: 266 30% 26%;
        --ring: 266 100% 63.9%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
